/* General Container */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: auto;
}

/* Navbar Styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 98%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

/* Header Styling */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.6;
}

/* Footer Styling */
footer {
    background-color: #f7f7f7;
    color: #888;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

footer p {
    margin: 0;
}

/* Links Styling */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
